.heroSection {
  background-color: #272830;

  position: relative;
  min-height: calc(100vh - 85px);
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 50px;
  align-items: center;
  padding-bottom: 50px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/Untitled\ design\ \(3\).png");
    background-size: auto;
    opacity: 0.055;
  }
}

.heroSection__title {
  display: block;
  font-size: 60px;
  line-height: 70px;
  font-weight: 500;
  margin-bottom: 39px;
  color: white;
}

.heroSection__bullets {
  color: white;

  li {
    line-height: 2;
    list-style: none;
    margin-bottom: 10px;
  }
}

.heroSection__selector {
  color: var(--black);
  border-radius: 5px;
  padding: 15px;
  background-color: var(--white);
  position: relative;
}

// transmission selector

.heroSection__transmission {
  display: flex;
  gap: 20px;
}
.transmission__name {
  cursor: pointer;
  border: 2px solid var(--theme-color);
  padding: 8px 17px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  transition: all 200ms ease-in-out;
}
.transmission__name.selected {
  background-color: var(--theme-color);
}

// subrub input
.subrub__input {
  margin-top: 25px;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid var(--theme-color);
  border-radius: 5px;
}

// subrub list
.subrubs__list {
  border-radius: 5px;
  margin-top: 10px;
  position: absolute;
  width: 100%;
  background-color: var(--white);
  // border: 1px solid var(--black);
  left: 0px;
  min-height: 75px;
  max-height: 200px;
  overflow-y: scroll;
  transition: all 300ms ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 2;
}

.suburb__list-name {
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  // &:nth-child(-n + 1) {
  //   background-color: var(--theme-color);
  // }
}

.suburb__list-name-title {
  padding: 5px 0px;
  padding: 10px 20px;
  font-size: 14px;
}

.submit__suburb {
  margin-top: 25px;
}

.spinner__container {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: center;
}

@media (max-width: 768px) {
  .heroSection {
    display: block;
    height: fit-content;
    min-height: unset;
  }

  .heroSection__title {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }

  .heroSection__bullets {
    display: none;
  }
}
