@import "../../main.scss";

.view__booking-main {
  margin-top: 20px;
}

.view__booking-page {
  .backButton {
    background-color: white;
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
}

.dash-booking__informations {
  margin-bottom: 20px;
  .title {
    @include smallTitle;
    color: var(--text-sec);
    margin-bottom: 10px;
  }

  .info__field {
    margin-bottom: 5px;
    @include descriptionFont;
  }
}
