@import "../../main.scss";

.application__success-page {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    @include smallTitle;
    margin-bottom: 30px;
  }
  .description {
    text-align: center;
    @include descriptionFont;
    margin-bottom: 30px;
  }
}
