@import "../../main.scss";

.chat__app {
  width: 300px;
  z-index: 12;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .chat__icon {
    position: relative;
    .new__message-bubble {
      // position: absolute;
      // top: 0px;
      // left: 3px;
      // height: 10px;
      // width: 10px;
      // border-radius: 50%;
      // background-color: red;
    }
    cursor: pointer;
    width: fit-content;
    padding: 15px;
    border-radius: 50%;
    background-color: var(--theme-color);
    svg {
      color: white;
      font-size: 30px;
    }
  }
}

.chat__app-main {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
  min-width: 350px;
  background-color: white;
  margin-bottom: 15px;

  .header {
    border-radius: 5px 5px 0px 0px;
    padding: 15px;
    background-color: var(--theme-color);
  }
}

.chat__outer-bubble {
  color: white;
  position: absolute;
  left: 8px;
  top: -50%;
  transform: translateX(-100%);
  padding: 10px 15px;
  background-color: var(--theme-color);
  border-radius: 15px 15px 0px 15px;
}
.chat__app-box {
  padding: 15px;
  height: 400px;
  overflow-y: scroll;
  position: relative;

  .chat-sent {
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-end;
    > p {
      text-align: left;
      padding: 8px 12px;
      border: 5px;
      background-color: var(--theme-color);
      max-width: 80%;
      font-size: 14px;
      border-radius: 5px;
    }
  }
  .chat-rec {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    > p {
      padding: 8px 12px;
      border-radius: 5px;
      background-color: rgb(229, 226, 226);
      max-width: 80%;
      font-size: 14px;
    }
  }
}

.chat__app-main {
  .chat__inputs {
    display: flex;

    align-items: center;
    gap: 10px;
    .fileupload {
      display: none;
    }
    .message {
      width: 100%;
      flex: 1;
      flex-grow: 1;
      height: 40px;
      outline: none;
      padding: 0 5px;
    }
    .sendIcon {
      cursor: pointer;
      color: var(--theme-color);
    }
    .upload {
      cursor: pointer;
      svg {
        color: var(--theme-color);
      }
    }
  }

  .user__not-available {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    .title {
      @include bigDescription;
      font-size: 16px;
    }
  }
}

.message__with-attachment {
  display: flex;
  gap: 5px;
  align-items: center;
  color: white;

  a {
    color: black;
    text-decoration: underline;
  }
}
.chatbox__bottom {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  padding: 5px 10px;

  .selected__file-name {
  }
}
.uploading__spinner-main {
  // background-color: rebeccapurple;
  padding: 10px;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  .loader {
    height: 20px;
    width: 20px;
  }

  .title {
    @include descriptionFont;
  }
}

.selected__file-name {
  padding: 5px 10px;
  border: 1px solid rgba(128, 128, 128, 0.452);
  margin-bottom: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
  width: fit-content;
  border-radius: 20px;

  svg {
    cursor: pointer;
  }
}
