.instructor__dashboard-main,
.learner__dashboard-main {
  min-height: 100vh;
}
.ldash__counters {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.dash__bookings-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media (max-width: 600px) {
  .dash__bookings-list {
    display: grid;
    grid-template-columns: 1fr;
  }
}
