.dashboard__sidebar {
  background-color: white;
  height: 100vh;
  width: 200px;
  z-index: 11;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: all 300ms ease;
}

.dashboard__sidebar-header {
  padding: 20px;
  .logo {
    img {
      width: 90%;
      object-fit: contain;
    }
  }
}

.dashboard__nav-link {
  display: flex;
  padding: 15px;
  gap: 10px;
  align-items: center;
  cursor: pointer;

  svg {
    color: var(--theme-color);
    font-size: 25px;
  }

  &:hover {
    background-color: rgb(236, 235, 235);
  }
}

.dashboard__nav-active {
  background-color: rgb(236, 235, 235);
}

.mobile__times {
  display: none;
}

@media (max-width: 768px) {
  .dashboard__sidebar {
    position: absolute;
    left: -100%;
  }

  .sidebarMobile__active {
    left: 0px;
  }
  .mobile__times {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    color: var(--theme-color);
  }
}
