@import "../../main.scss";

.adminChat__main {
  display: grid;
  grid-template-columns: 20% 80%;
}

.adminChat__sidebar {
  border-right: 1px solid red;
}
.adminChat__logo {
  padding: 10px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  img {
    height: 50px;
    object-fit: contain;
  }
}
.adminChat__conversations {
  height: 100vh;
  overflow-y: scroll;
}
.adminChat__conversation {
  padding: 10px 20px;
  cursor: pointer;

  display: flex;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.281);
  transition: all 300ms ease-in-out;
  .image {
    img {
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }
  }
  .name {
    @include descriptionFont;
  }

  &:hover {
    background-color: rgba(128, 128, 128, 0.219);
  }
}
