.how__works {
  display: grid;
  grid-template-columns: 5fr 4fr;
  gap: 40px;
}

.how__works-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how__works-text {
  > .title {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.5;
    color: var(--text);
  }

  > .description {
    font-size: 16px;
    line-height: 1.7;
    color: var(--text-sec);
    margin-top: 12px;
  }
}

.how__works-bullets {
  margin-top: 25px;
}

.how__works-bullet {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.how__works-bullet-icon {
  margin-top: 5px;

  svg {
    color: var(--theme-color);
  }
}

.how__works-bullet-body {
  > .title {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 700;
    line-height: 1.5;
    color: var(--text);
  }

  > .description {
    font-size: 16px;
    line-height: 1.7;
    color: var(--text-sec);
  }
}

.how__works-media {
  .how__works-media-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

@media (max-width: 768px) {
  .how__works-bullet-body {
    > .title {
      font-size: 20px;
      margin-bottom: 5px;
      font-weight: 700;
      line-height: 1.3;
      color: var(--text);
    }

    > .description {
      font-size: 14px;
      line-height: 1.6;
      color: var(--text-sec);
    }
  }
}

@media (max-width: 768px) {
  .how__works {
    display: block;
  }
  .how__works-media {
    display: none;
  }

  .how__works-text > .title {
    font-size: 30px;
  }
}
