@import "../../main.scss";

.forget__password-main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    @include smallTitle;
    margin-bottom: 40px;
    color: var(--text-sec);
  }
}

.forget__password-fields {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
