.dashboard__bar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  .dash__sidebar-hamburger {
    color: var(--text-sec);
    font-size: 30px;
  }
  .user__icon {
    width: fit-content;
    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.dashboard__content {
  padding: 70px 0px 0px 200px;
  background-color: rgb(236, 236, 236);
}

@media (max-width: 768px) {
  .dashboard__content {
    padding-left: 0px;
  }
}
@media (max-width: 600px) {
  .dashboard__bar {
    padding: 15px;
  }

  .dashboard__bar .user__icon {
    gap: 10px;
  }

  .dashboard__bar .user__icon img {
    height: 40px;
    width: 40px;
  }
}
