* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lexend", sans-serif;
}

:root {
  --theme-color: #fee100;
  --black: #121113;
}
