* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li,
p {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lexend", sans-serif !important;
}

.sectionPadding {
  padding: 5vw 8vw;
  padding-bottom: 0px;
}
@media (max-width: 768px) {
  .sectionPadding {
    padding: 30px 4vw;
  }
}

:root {
  --theme-color: #fee100;
  --text: #121113;
  --text-sec: #666;

  --black: #121113;
  --white: white;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.bookbutton {
  margin-top: 60px;
}
