.chv__modal {
  height: 90vh;
  width: 90vw;
  background-color: white;
  outline: none;
  padding: 40px;
  overflow: scroll;
}

.chv__chart {
  // overflow: scroll;
  display: flex;
  .chv__chart-column {
    min-width: 150px;

    border: 1px solid gray;
    .title {
      text-align: center;
      border-bottom: 1px solid gray;
    }

    .hour {
      border-bottom: 1px solid gray;
      min-height: 30px;
      padding-left: 5px;
      background-color: var(--text-sec);
    }
    .hourrow {
      background-color: transparent;
    }

    .booked__hour {
      background-color: var(--theme-color);
    }
  }
}
